:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: white;
    --color-redcolor: #ca1717;
}

*
.debug {
    border:1px solid red;
}
body {
    background-color: #282828;
    color: var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: #282828;
    height: 100vh;
}

.container {
    display:flex;
    align-items: center;
}



.favicon {
    background-color: white;
}

.span {
    margin: 5px;
}


.d-flex {
    display:flex
}

.f-column {
    flex-direction: column;
}

.upper-content {
    background-color: var(--color-dark);
    flex: 1 1 auto;
    overflow-y: auto;
}

.header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 230px;
    width: calc(100% - 230px);
    z-index: 3000; 
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    
}

footer {
    background-color: #282828;
    flex: 0 0 100px;
}

#sidebar {
    flex:0 0 230px;
    background-color: var(--color-black);
}

img {
    height: 50px;
}


main {
    flex: 1 1 auto;
    overflow-y:auto;
    padding: 100px 20px 20px;
    justify-content: center;
}

div.box {
    width: 100px;
    height: 100px;
}

button {
    border-radius: 5px;
}

.box.img {
    width: 100%;
    border-radius: 50%;
}

h1 {
    font-size: 10px;
    word-spacing: 10px;
    text-align: center;
    margin-top: 5px;
}

h2 {
    font-size: 20px;
}

h4{
    font-size: 20px;
}

h5 {
    font-size: 10px;
    margin: 5px;
}


.photo {
    display: flex;     
    justify-content: center;
             
    
      

}

.image-container {
margin: 5px; 
}

.logo {
    font-size: 23px;
}

.h7 {
    text-align: center;
}

.image-container {
    font-size: 10px;   
    margin: 5px;
}

.image-container {     
    font-size: 10px;
    margin-right: 5px;
}

.image-container{
    font-size: 10px;
    margin-left: 65px;
}

.range {
    text-align: center;
}

@media screen and (min-width: 1025px){
    .contenuto {
        background-color: lightblue;
        font-size: 20px;
    }
}
           
@media screen and (min-width: 768px) { 
    .contenuto {
        background-color: lightcoral;
        font-size: 18px;
    }
}

@media screen and (max-width: 320px){
    .contenuto {
        background-color: lightgreen;
        font-size: 16px;
    }
}     
    


















































